html, body {
  padding: 0;
  margin: 0;
  background: black;
}

.SNSX__Heading___14gt_ {
  z-index: 100;
  font-family: "VT323";
  text-align: center;
  -webkit-animation-name: SNSX__example___1LwGN;
          animation-name: SNSX__example___1LwGN;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin: 0;
  font-size: 8em;
}

.SNSX__SubHeading___E8UQ4 {
  font-family: "VT323";
  z-index: 100;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 0;
}

.SNSX__Description___N2Uzt {
  font-family: "VT323";
  z-index: 100;
  font-size: 1.4em;
  color: white;
  margin: 0;
}
.SNSX__Forum___22m4V {
  text-align: right;
  display: block;
  text-transform: uppercase;
  padding: 1rem;
}

.SNSX__Wrapper___E-j-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.SNSX__ColumnTriangle___vBsns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.SNSX__ColumnHeading___KO3yj {
  z-index: 100;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.SNSX__ColumnForum___3jQzZ {
  z-index: 100;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.SNSX__ColumnFooter___9DvL- {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  z-index: 100;
}


.SNSX__Netball___2IpRs {
  width: 150px;
  display: block;
  margin: 1rem auto;
}

.SNSX__ColumnEmbedPlace___1KsVv {
  display: none;
}

.SNSX__ColumnEmbed___1EMtq {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  z-index: 100;
}

/* sm (larger than 768px) */
@media (min-width: 768px) {
  .SNSX__ColumnEmbed___1EMtq {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .SNSX__ColumnEmbedPlace___1KsVv {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    z-index: 100;
  }

}


iframe {
  border: 2px solid lime;
}

@-webkit-keyframes SNSX__example___1LwGN {
  0% {
    color: lime;
    text-shadow: 0 0 20px green;
  }
  25% {
    color: green;
    text-shadow: 2px 2px 2px lime;
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
  40% {
    color: lime;
    text-shadow: none;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    color: green;
    text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  70% {
    color: lime;
    text-shadow: none;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    color: lime;
    text-shadow: 0 0 20px green;
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
  100% {
    color: lime;
    text-shadow: none;
  }
}

@keyframes SNSX__example___1LwGN {
  0% {
    color: lime;
    text-shadow: 0 0 20px green;
  }
  25% {
    color: green;
    text-shadow: 2px 2px 2px lime;
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
  40% {
    color: lime;
    text-shadow: none;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    color: green;
    text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  70% {
    color: lime;
    text-shadow: none;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    color: lime;
    text-shadow: 0 0 20px green;
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
  100% {
    color: lime;
    text-shadow: none;
  }
}
svg {
  width: 300px;
  height: 300px;
}
/* sm (larger than 768px) */
@media (min-width: 768px) {
  svg {
    width: 400px;
    height: 400px;
  }
}

body {
  background: #161616;
}

svg {
  visibility: hidden;
}
